<launch>
  <arg name="bag" default="/media/sysu/200GB_Other/Dataset/Slam/campus/A.bag"/>
  <arg name="file" default="campus"/>

  <rosparam command="load" file="$(find direct_stereo_slam)/cams/$(arg file)/T_stereo.yaml" ns="direct_stereo_slam"/>
  <node name="direct_stereo_slam" pkg="direct_stereo_slam" type="slam_node" output="screen" required="true">
    <param name="topic0" value="/camera/infra1/image_rect_raw/compressed" />
    <param name="topic1" value="/camera/infra2/image_rect_raw/compressed" />
    <param name="calib0" value="$(find direct_stereo_slam)/cams/$(arg file)/camera0.txt" />
    <param name="calib1" value="$(find direct_stereo_slam)/cams/$(arg file)/camera1.txt" />
    <param name="bag" value="$(arg bag)" />
    <!-- <param name="scale_opt_thres" value="-1" /> -->
  </node>

  </launch>
